<!--
  Generated template for the VistorRegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="primary">
    <ion-title>客户跟进</ion-title>
    <!-- <ion-buttons end>
      <button ion-button>跟进记录</button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <span>客户基本资料</span>
      <button ion-button class="float-right" small outline color="btn-state-{{person.statenum}}" [disabled]="true"
        *ngIf="person.statedesc">{{person.statedesc}}</button>
    </ion-card-header>
    <!-- <h2>客户基本资料<span class="state state-{{person.statenum}}">{{person.statedesc}}</span></h2> -->
    <ion-item>
      <ion-label><span class="required">*</span>客户手机</ion-label>
      <ion-input [(ngModel)]="person.telephone" type="number" pattern="[0-9]*" [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><span class="required">*</span>客户姓名</ion-label>
      <ion-input [(ngModel)]="person.custname" placeholder="输入姓名"></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-label>客户性别</ion-label>
      <div class="select-box" item-right>
        <span class="select-item" tappable (click)="person.sex = '男'">
          <ion-icon name="{{ person.sex == '男' ? 'ios-radio-button-on-outline' : 'ios-radio-button-off-outline' }}"></ion-icon> 男</span>
        <span class="select-item" tappable (click)="person.sex = '女'">
          <ion-icon name="{{ person.sex == '女' ? 'ios-radio-button-on-outline' : 'ios-radio-button-off-outline' }}"></ion-icon> 女</span>
      </div>
    </ion-item> -->

    <!-- <ion-row class="custom-item-box">
        <ion-col col-3>
          <span class="custom-label">客户性别*</span>
        </ion-col>
        <ion-col col-9>
          <ion-row class="custom-item-right">
              <div class="select-box" item-right>
                  <span class="select-item" tappable (click)="person.sex = '男'">
                    <ion-icon name="{{ person.sex == '男' ? 'ios-radio-button-on-outline' : 'ios-radio-button-off-outline' }}"></ion-icon> 男</span>
                  <span class="select-item" tappable (click)="person.sex = '女'">
                    <ion-icon name="{{ person.sex == '女' ? 'ios-radio-button-on-outline' : 'ios-radio-button-off-outline' }}"></ion-icon> 女</span>
                </div>
          </ion-row>
        </ion-col>
      </ion-row> -->
    <ion-item>
      <ion-label><span class="required">*</span>客户性别</ion-label>
      <div class="custom-controls-wrap" item-content>
        <div class="select-box">
          <span class="select-item" tappable (click)="person.sex = '男'">
            <ion-icon name="{{ person.sex == '男' ? 'ios-radio-button-on-outline' : 'ios-radio-button-off-outline' }}"></ion-icon>
            男
          </span>
          <span class="select-item" tappable (click)="person.sex = '女'">
            <ion-icon name="{{ person.sex == '女' ? 'ios-radio-button-on-outline' : 'ios-radio-button-off-outline' }}"></ion-icon>
            女
          </span>
        </div>
      </div>
    </ion-item>

    <button ion-item (click)="selectPersonSource();" *ngIf="followtype == '20'">
      <ion-label><span class="required">*</span>来源类型</ion-label>
      <div class="custom-controls-wrap" item-content>
        <span class="placeholder">{{person.srctypename || '请选择'}}</span>
        <!-- <button ion-button
          *ngIf="hasSrcType" 
          (click)="changeSRCType();" class="change-btn">
          发起变更
        </button> -->
        <span class="change-btn" *ngIf="hasSrcType" tappable (click)="changeSRCType();">
          发起变更
        </span>
      </div>
    </button>

    <button ion-item (click)="selectSourceDetail();" *ngIf="followtype == '20' && !!source">
      <ion-label><span class="required">*</span>{{source.descname}}</ion-label>
      <div class="custom-controls-wrap" item-content>
        <span class="placeholder">{{source.label || '请选择'}}</span>
      </div>
    </button>
    <ion-item *ngIf="followtype == '20'">
      <ion-label>来源备注</ion-label>
      <ion-input [(ngModel)]="person.srcmemo" placeholder="输入客户来源备注"></ion-input>
    </ion-item>

    <ion-item class="vertical-top-label-2" *ngIf="followtype == '20' && ytButtons.length > 0">
      <ion-label><span class="required">*</span>所属业态</ion-label>
      <div class="custom-controls-wrap" item-content>
        <ion-row class="custom-item-right">
          <ion-col col-4 *ngFor="let btn of ytButtons">
            <span class="custom-btn" [class.active]="btn.usertype_id === currentYTID" tappable (click)="selectBtn2(btn);">{{btn.usertype_name}}</span>
          </ion-col>
        </ion-row>
      </div>
    </ion-item>

    <ion-item>
      <ion-label>知晓途径</ion-label>
      <ion-input [(ngModel)]="person.knowway" placeholder="请输入"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>出生日期</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" cancelText="取消" doneText="确定" [(ngModel)]="person.birthday"
        placeholder="请设置"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>通讯地址</ion-label>
      <ion-input [(ngModel)]="person.address" placeholder="请输入"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>邮政编码</ion-label>
      <ion-input [(ngModel)]="person.postcode" type="tel" placeholder="请输入"></ion-input>
    </ion-item>

    <button ion-item (click)="selectCardType();" *ngIf="followtype == '20'">
      <ion-label>证件类型</ion-label>
      <div class="custom-controls-wrap" item-content>
        <span class="placeholder">{{person.cardtypename || '请选择'}}</span>
      </div>

    </button>

    <ion-item *ngIf="followtype == '20'">
      <ion-label>证件号码</ion-label>
      <ion-input [(ngModel)]="person.cardno" placeholder="输入证件号码"></ion-input>
    </ion-item>

    <!-- <ion-row class="custom-item-box" *ngIf="person.statenum == '0'">
      <ion-col col-3>
        <span class="custom-label">客户操作</span>
      </ion-col>
      <ion-col col-9>
          <ion-row class="custom-item-right">
            <button ion-button color="danger" small (click)="handleOper('40', '作废')">作废</button>&emsp;
            <button ion-button color="dark" small (click)="handleOper('30', '丢失')">丢失</button>
          </ion-row>
        </ion-col>
    </ion-row> -->

  </ion-card>

  <ion-card>
    <ion-card-header>
      客户跟进录入
    </ion-card-header>
    <!-- <ion-item>
      <ion-label>跟进方式</ion-label>
      <div class="select-box" item-right>
        <span class="select-item" tappable (click)="person.followtype = '来电'">
          <ion-icon name="{{ person.followtype == '来电' ? 'ios-radio-button-on-outline' : 'ios-radio-button-off-outline' }}"></ion-icon> 来电</span>
        <span class="select-item" tappable (click)="person.followtype = '来访'">
          <ion-icon name="{{ person.followtype == '来访' ? 'ios-radio-button-on-outline' : 'ios-radio-button-off-outline' }}"></ion-icon> 来访</span>
          <span class="select-item" tappable (click)="person.followtype = '回访'">
              <ion-icon name="{{ person.followtype == '回访' ? 'ios-radio-button-on-outline' : 'ios-radio-button-off-outline' }}"></ion-icon> 回访</span>
      </div>
    </ion-item> -->
    <!-- <ion-row class="custom-item-box">
        <ion-col col-3>
          <span class="custom-label">跟进方式</span>
        </ion-col>
        <ion-col col-9>
          <ion-row class="custom-item-right">
              <div class="select-box" item-right>
                <span class="select-item" *ngFor="let type of followtypes" 
                  tappable (click)="selectFollowType(type);">
                    <ion-icon name="{{ currentFollowType == type.value ? 'ios-radio-button-on-outline' : 'ios-radio-button-off-outline' }}"></ion-icon> {{type.label}}</span>
                </div>
          </ion-row>
        </ion-col>
      </ion-row> -->
    <ion-item class="vertical-top-label-1">
      <ion-label>跟进方式</ion-label>
      <div class="custom-controls-wrap" item-content>
        <div class="select-box" item-right>
          <span class="select-item" *ngFor="let type of followtypes" tappable (click)="selectFollowType(type);">
            <ion-icon name="{{ currentFollowType == type.value ? 'ios-radio-button-on-outline' : 'ios-radio-button-off-outline' }}"></ion-icon>
            {{type.label}}
          </span>
        </div>
      </div>
    </ion-item>
    <!-- <ion-item>
      <ion-label item-left>购房意愿</ion-label>
      <div class="button-group" item-right>
        <ion-row>
          <ion-col col-4 *ngFor="let btn of buttons">
            <span class="custom-btn" [class.active]="btn.selected" tappable (click)="selectBtn(btn);">{{btn.label}}</span>
          </ion-col>
        </ion-row>
      </div>
    </ion-item> -->
    <!-- <ion-row class="custom-item-box">
      <ion-col col-3>
        <span class="custom-label">购房意愿</span>
      </ion-col>
      <ion-col col-9>
        <ion-row class="custom-item-right">
          <ion-col col-4 *ngFor="let btn of buttons">
            <span class="custom-btn" [class.active]="btn.selected" tappable (click)="selectBtn(btn);">{{btn.label}}</span>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row> -->
    <ion-item class="vertical-top-label-2">
      <ion-label>购房意愿</ion-label>
      <div class="custom-controls-wrap" item-content>
        <ion-row class="custom-item-right">
          <ion-col col-4 *ngFor="let btn of buttons">
            <span class="custom-btn" [class.active]="btn.selected" tappable (click)="selectBtn(btn);">{{btn.label}}</span>
          </ion-col>
        </ion-row>
      </div>
    </ion-item>
    <ion-item>
      <ion-label><span class="required">*</span>跟进内容</ion-label>
      <ion-textarea placeholder="输入跟进内容" rows="6" [(ngModel)]="followcontent">

      </ion-textarea>
    </ion-item>
  </ion-card>
  <ion-card>
    <button ion-item (click)="viewHistory();">
      跟进历史
      <ion-note item-right>{{person.followcnt || 0}}次</ion-note>
    </button>
    <button ion-item (click)="openSurvey('8');" *ngIf="hasLDSurvey">
      来电问卷
    </button>
    <button ion-item (click)="openSurvey('6');" *ngIf="hasLFSurvey">
      来访问卷
    </button>
  </ion-card>

  <div padding>
    <button ion-button full (click)="save('0','跟进');">保存</button>
  </div>
</ion-content>