page-select-project {
    .projects {
        .icon-arrow {
            float: right;
            padding-top: 2px;
        }

        .item-ios {
            font-size: 14px!important;
        }
    
        .item-ios .item-inner {
            border-top: 0.5px solid #f6f6f6!important;
        }
    }
    
}
