<div class="timeline-wrap">
  <ul class="timeline">
    <li class="timeline-item" *ngFor="let item of list">
      <div class="tail"></div>
      <div class="node node-normal"></div>
      <div class="content-wrapper">
        <div class="timestamp is-top">
          2018-04-12
        </div>
        <div class="item-content">
          <div class="feedback-item" *ngFor="let obj of item.list" tappable (click)="doClick(obj)">
            <div class="name">反馈记录说明1</div>
            <div class="time">2018-04-12 12:30:40</div>
          </div>
        </div>
      </div>
    </li>

  </ul>
</div>