<div class="timeline-wrap">
  <ul class="timeline">
    <li class="timeline-item" *ngFor="let date of dates">
      <div class="tail"></div>
      <div class="node node-normal"></div>
      <div class="content-wrapper">
        <div class="timestamp is-top">
          {{date}}
        </div>
        <div class="item-content">
          <div class="feedback-item" *ngFor="let obj of data[date]" tappable (click)="doClick(obj)">
            <div class="name">{{obj.billdesc}}</div>
            <div class="time">{{obj.create_date}}</div>
          </div>
        </div>
      </div>
    </li>

  </ul>
</div>