<!--
  Generated template for the StatHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="primary">
    <ion-title>
      <ion-segment [(ngModel)]="dataType" color="white" (ionChange)="segmentChanged($event)">
        <ion-segment-button [value]="i" *ngFor="let type of dataTypes;let i=index;">
          {{type}}
        </ion-segment-button>
      </ion-segment>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="togglePlan();">
        <ion-icon name="ios-calendar-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content style="background: #fff">
  <div class="date-buttons">
    <span class="date-btn" [class.active]="currentType === i" tappable (click)="selectDate(i);"
      *ngFor="let type of dateTypes; let i = index;">{{type}}</span>
  </div>
  <div class="pie-wrapper">
    <div class="top-graphic" id="top-graphic"></div>
    <div class="value-show">
      <div class="value-inner">
        <div class="complete-rate">
          <div class="value"><span class="digit">58.3</span><span class="unit">%</span></div>
          <div class="label">计划完成率</div>
        </div>
        <div class="plan-stats">
          <div class="done">
            <div class="value">267</div>
            <div class="label">已完成</div>
          </div>
          <div class="splitor">/</div>
          <div class="total">
            <div class="value">512</div>
            <div class="label">总计划</div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="other-stats">
    <div class="stat-box">
      <div class="value">
        <span class="done">12</span>
        <span class="splitor">/</span>
        <span class="total">32</span>
      </div>
      <div class="label">今日计划</div>
    </div>
    <div class="stat-box">
      <div class="value">16</div>
      <div class="label">超期计划</div>
    </div>
    <div class="stat-box">
      <div class="value">16</div>
      <div class="label">预警计划</div>
    </div>
  </div>
  <div class="splitor"></div>
</ion-content>