page-stat-home {
    .date-buttons {
        padding: 15px;
        width: 100%;
        text-align: center;
        .date-btn {
            display: inline-block;
            height: 36px;
            line-height: 36px;
            text-align: center;
            padding: 0 15px;
            border-radius: 18px;
            margin-right: 15px;
            font-size: 14px;
            color: color($colors, primary);
            background: #fff;
            border: 0.55px solid color($colors, primary);
            vertical-align: middle;
            // font-family: 'PingFang SC', Arial, Helvetica, sans-serif;
            user-select: none;
            cursor: pointer;
            &:last-child {
                margin-right: 0;
            }
            &.active {
                background: color($colors, primary);
                color: #fff;
            }
        }
    }

    .pie-wrapper {
        width: 100%;
        height: 300px;
        position: relative;
        .top-graphic {
            width: 100%;
            height: 100%;
            padding: 0 15px;
            text-align: center;
        }

        .value-show {
            position: absolute;
            width: 100%;
            height: 300px;
            top: 0;
            left: 0;
            display: flex;
            // flex-wrap: wrap;
            align-items: center;
            .value-inner {
                flex: 1;
                width: 100%;
                text-align: center;
            }
            .complete-rate {
                width: 50%;
                margin: 0 auto;
                font-size: 12px;
                color: #999;
                .digit {
                    font-size: 28px;
                    font-family: 'PingFang SC';
                    color: color($colors, primary);
                }
                .unit {
                    font-size: 12px;
                    color: color($colors, primary);
                    padding-left: 2px;
                }
            }
            .plan-stats {
                display: flex;
                width: 40%;
                margin: 10px auto 0;
                color: #999;
                font-size: 12px;
                .value {
                    font-size: 18px;
                    font-family: 'PingFang SC';
                    color: color($colors, primary);
                }
                .done {
                    flex: 1;
                }
                .total {
                    flex: 1;
                }
                .splitor {
                    flex: 0 0 30px;
                    width: 30px;
                    color: color($colors, primary);
                    font-size: 18px;
                    padding-top: 3px;
                }
            }
        }

    }

    .other-stats {
        padding: 0 20px;
        display: flex;
        justify-content: center;
        .stat-box {
            flex: 1;
            text-align: center;
            font-size: 12px;
            color: #333;
            border-right: 0.55px solid #f2f2f2;
            &:last-child {
                border-right: 0;
            }
            .value {
                color: color($colors, primary);
                font-size: 18px;
                .splitor {
                    padding: 0 5px;
                }
                .done {
                    color: #7FB762;
                }
            }
            .label {
                color: #999;
            }
        }
    }

    .line {
        width: 80%;
        height: 2px;
        background: #f7f7f7;
        margin: 20px auto;
    }

    .plan-graph {
        width: 100%;
        height: 300px;
        // padding: 0 15px 15px;
    }
    
}
