page-stat-project {
    .filter-items-wrap {
        padding: 10px 15px 0;
    }
    .fab-ios {
        line-height: normal;
        box-shadow: 0 1px 4px rgba(0,0,0,0.6);
        .button-inner {
            display: block;
            .label {
                font-size: 10px;
                line-height: 12px;
                // display: inline-block;
            }
            .digit {
                // display: inline-block;
                font-size: 16px;
                line-height: 18px;
                font-family: 'PingFang SC';
                margin-top: 10px;
                margin-bottom: 2px;
            }
        }
        
    }
}
