<!--
  Generated template for the StatProjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="primary">
    <ion-title>
      <ion-segment [(ngModel)]="dataType" color="white" (ionChange)="segmentChanged($event)">
        <ion-segment-button [value]="i" *ngFor="let type of dataTypes;let i=index;">
          {{type}}
        </ion-segment-button>
      </ion-segment>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openFilter();">
        <ion-icon name="ios-funnel-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="filter-items-wrap">
    <filter-items [(items)]="filterItems" (itemsChange)="itemsChange();"></filter-items>
  </div>
  <!-- <div class="top-graphic" id="top-graphic" #myCharts></div> -->

  <div class="panel">
    <div class="pie-wrapper">
      <div class="top-graphic" id="top-graphic" #myCharts></div>
      <div class="value-show">
        <div class="value-inner">
          <div class="complete-rate">
            <div class="value"><span class="digit">58.3</span><span class="unit">%</span></div>
            <div class="label">计划完成率</div>
          </div>
          <div class="plan-stats">
            <div class="done">
              <div class="value">267</div>
              <div class="label">已完成</div>
            </div>
            <div class="splitor">/</div>
            <div class="total">
              <div class="value">512</div>
              <div class="label">总计划</div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="other-stats">
      <div class="stat-box">
        <div class="value">
          <span class="done">12</span>
          <span class="splitor">/</span>
          <span class="total">32</span>
        </div>
        <div class="label">今日计划</div>
      </div>
      <div class="stat-box">
        <div class="value">16</div>
        <div class="label">超期计划</div>
      </div>
      <div class="stat-box">
        <div class="value">16</div>
        <div class="label">预警计划</div>
      </div>
    </div>
  </div>

  <div class="panel projects">
    <h2 class="title">所属项目</h2>
    <div class="list">
      <ion-row>
        <ion-col col-6 *ngFor="let proj of projects">
          <div class="project" tappable (click)="selectProject(proj);">
            <h3 class="name">枫丹西悦三期</h3>
            <div class="stats">
              <div class="stat">
                <div class="label">总计划</div>
                <div class="digit">123</div>
              </div>
              <div class="stat center">
                <div class="label">已完成</div>
                <div class="digit">39</div>
              </div>
              <div class="stat right">
                <div class="label">预警计划</div>
                <div class="digit">39</div>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div class="panel plan-list" id="fx-plans">
    <h2 class="title">高风险项</h2>
    <ion-list>
      <plan-item *ngFor="let plan of planList" (onSelect)="selectPlan($event);" (onUrge)="doUrge($event);"
        [item]="plan"></plan-item>
    </ion-list>
  </div>

  <ion-fab right bottom>
    <button ion-fab (click)="gotoBottom();">
      <div class="digit">13</div>
      <div class="label">高风险</div>
    </button>
  </ion-fab>

</ion-content>