page-source-change {
    .placeholder {
        color: #999;
        padding-left: 20px;
    }

    // .item-ios {
    //     border-bottom: 0.55px solid #e6e6e6;
    //     padding-top: 5px;
    //     padding-bottom: 5px;
    // }

    .item-ios {
        border-bottom: 0.55px solid #e6e6e6;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px !important; 
        .label-ios {
            width: 80px!important;
            flex: 0 0 80px !important;
        }
    }

    .custom-controls-wrap {
        flex: 1;
        // width: 100%;
        // margin-left: 15px;
        width: calc(100% - 80px)!important;
        // position: static;
        text-align: left;
        // .select-box {
        //     margin-left: 16px;
        //     width: calc(100% - (16px / 2) - 16px);
        // }
    }

    .placeholder {
        color: #999;
        display: inline-block;
        // font-size: 14px;
        line-height: 40px;
        vertical-align: top;
        // margin-top: 10px;
        padding-left: 15px;
    }
}
