<!--
  Generated template for the PaymoneyListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="primary">
    <ion-title>回款明细</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div class="caption-wrap">
    <!-- <div class="base-info">
      <p class="house-no">{{item.house_no}}</p>
      <p class="custname">客户: {{item.custnames}}</p>
    </div> -->
    <div class="money-wrap">
      <div class="money lg">
        <p class="value">
          <span class="symbol">¥</span>
          <span class="digit">{{(item.money - item.paymoney) | formatWan}}</span>
          <span class="unit">万</span></p>
        <p class="label">未回款金额</p>
      </div>
      <ion-row>
        <ion-col col-6>
          <div class="money">
            <p class="value">
              <span class="symbol">¥</span>
              <span class="digit">{{item.money | formatWan}}</span>
              <span class="unit">万</span></p>
            <p class="label">应回款金额</p>
          </div>
        </ion-col>
        <ion-col col-6>
          <div class="money">
            <p class="value">
              <span class="symbol">¥</span>
              <span class="digit">{{item.paymoney | formatWan}}</span>
              <span class="unit">万</span></p>
            <p class="label">已回款金额</p>
          </div>
        </ion-col>
      </ion-row>
    </div>

  </div>
  <div class="other-info">
    <ion-item>
      <p text-wrap>客户: {{item.custnames}}</p>
      <ion-note item-right>
        {{item.house_no}}
      </ion-note>
    </ion-item>
  </div>

  <div class="empty-error-box" *ngIf="!!error">
    {{error}}
  </div>

  <div class="money-list-wrap" *ngIf="data.length > 0">
    <h2 class="title">款项明细</h2>
    <ion-list>
      <ion-item *ngFor="let obj of data">
        <ion-row>
          <ion-col col-8>
            <div class="fundname">{{obj.fundname2}}</div>
          </ion-col>
          <ion-col col-4>
            <div class="time">{{obj.plandate | formatDate:0}}<span class="danger-text" *ngIf="checkExpire(obj);">逾期</span></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <div class="money-box total">
              <p class="label">应收金额</p>
              <p class="value">
                <span class="symbol">¥</span>
                <span class="digit">{{obj.planmoney | formatWan}}</span>
                <span class="unit">万</span>
              </p>
            </div>
          </ion-col>
          <ion-col col-4>
            <div class="money-box payed">
              <p class="label">已收金额</p>
              <p class="value">
                <span class="symbol">¥</span>
                <span class="digit">{{obj.paymoney | formatWan}}</span>
                <span class="unit">万</span>
              </p>
            </div>
          </ion-col>
          <ion-col col-4>
            <div class="money-box unpayed">
              <p class="label">未收金额</p>
              <p class="value">
                <span class="symbol">¥</span>
                <span class="digit">{{obj.unpaymoney | formatWan}}</span>
                <span class="unit">万</span>
              </p>
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>

</ion-content>