page-vistors-query {
    .item-ios {
        border-bottom: 0.55px solid #f2f2f2;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px !important; 
    }
    .placeholder {
        color: #999;
        padding-left: 15px;
    }

    .buttons {
        padding: 10px 12px;
    }

    .query-result {
        margin-top: 15px;
        // margin-bottom: 10px;
        h2 {
            text-align: center;
            border-bottom: 0.55px solid #e6e6e6;
            padding-bottom: 15px;
            color: #999;
        }
    }

    .follow-type {
        // float: right;
        display: inline-block;
        padding: 3px 5px;
        border-radius: 2px;
        background: red;
        color: white;
        font-size: 10px;
        margin-top: 0;
        margin-bottom: 5px;
    }

    .hasvalue {
        color: #333;
    }

    .right-sec {
        text-align: center;
        ion-icon {
            font-size: 24px;
        }
    }

    .follow-type-10 {
        background: rgb(101,142,223);
    }

    .follow-type-20 {
        background: rgb(132,196,159);
    }

}
