<!--
  Generated template for the ProgressHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="primary">
    <ion-title>跟进记录</ion-title>
  </ion-navbar>

</ion-header>

<ion-content style="background: #fff;">
  <div class="empty-error-box" *ngIf="!!error">
    {{error}}
  </div>

  <div class="history-wrap">
    <ul class="timeline">
      <li class="timeline-item" *ngFor="let item of data;let i = index;" tappable (click)="openItem(item,i);">
        <span class="time">{{item.followupdate.split('T')[0]}}</span>
        <div class="content">
          <h2 class="title">{{item.ajstate_desc}}</h2>
          <p class="summary">{{item.followupdesc === 'NULL' ? '' : item.followupdesc}}</p>
        </div>
      </li>
    </ul>
  </div>

  <!-- <ion-list>
    <ion-item *ngFor="let item of data" tappable (click)="openItem(item);">
      <p>{{item.followupdate.split('T')[0]}}</p>
      <h2>{{item.ajstate_desc}}</h2>
      <p>{{item.followupdesc}}</p> -->

  <!-- <h2>{{item.followupdesc}}</h2> -->
  <!-- <p>{{item.followupdate.split('T')[0]}}</p> -->
  <!-- <ion-badge item-right class="custom-badge" color="ajstate-{{item.ajstate}}">{{item.ajstate_desc}}</ion-badge> -->

  <!-- </ion-item>
  </ion-list> -->

</ion-content>