man-item {
    // .title {
    //     margin-bottom: 10px;
    //     font-size: 14px;
    //     font-weight: normal;
    //     font-family: 'PingFang SC', Arial, Helvetica, sans-serif;
    // }

    .base-info {
        color: #333;
        font-size: 0;
        margin-bottom: 5px;
        font-family: 'PingFang SC', Arial, Helvetica, sans-serif;
        .name, .industry, ion-icon {
            font-size: 14px;
            // color: #333;
            line-height: 16px;
            display: inline-block;
            // margin-right: 5px;
            vertical-align: middle;
        }

        .name {
            width: 150px;
            
            // background: red;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .industry {
            margin-left: 5px;
            &.industry-1 { // 住宅
                color: color($colors, primary);
            }
            &.industry-2 { // 公寓
                color: rgb(143, 180, 56);
            }
            &.industry-3 { // 商业
                color: rgb(49, 124, 204);
            }
            &.industry-4 { // 车位
                color: rgb(125, 63, 63);
            }
            &.industry-5 { // 其它
                color: rgb(184, 149, 96);
            }
            &.industry-32 { // 办公
                color: rgb(37, 186, 219);
            }
        }
    }

    // p {
    //     font-size: 12px;
    // }

    .follow-content, .follow-time {
        font-size: 12px;
    }

    .custname, .house-no {
        font-size: 14px;
        color: #333;
    }

    .male {
        color: rgb(101,142,223);
    }

    .female {
        color: rgb(232, 83, 177);
    }

    .state {
        // background: red;
        display: inline-block;
        font-size: 10px;
        padding: 2px 5px;
        border-radius: 2px;
        color: white;
        margin-left: 5px;
        margin-bottom: 5px;
        margin-top: 10px;
    }

    .state-1 {
        background: rgb(101,142,223);
    }

    .state-2 {
        background: rgb(132,196,159);
    }

    .right-section {
        text-align: center;
        p {
            font-size: 12px;
        }

        .days {
            color: color($colors, primary);
            padding: 0 3px;
            font-size: 18px;
        }

        ion-icon {
            font-size: 32px;
        }

        .left-days-warning {
            font-size: 12px;
            color: color($colors, primary);
        }
    }
}
