<!-- Generated template for the PlanItemComponent component -->
<div class="plan-item-wrap">
  <ion-item-sliding #itemSliding>
    <ion-item tappable (click)="doTap();">
      <div item-content style="width: 100%;">
        <div class="plan-item type-{{item.bigtypeid}}">
          <div class="left">
            <p class="date">{{parseDate(item.planoverdate)}}<span class="unit">日</span></p>
            <p class="year-month">{{parseYearMonth(item.planoverdate)}}</p>
          </div>
          <div class="center">
            <h2 class="name">
              {{item.itemname}}
            </h2>
            <div class="tags">
              <span class="tag tag-{{item.plantypeid}}">{{item.plantypename}}</span>
              <span class="tag">{{item.projectname}}</span>
              <span class="tag">{{item.plansource}}</span>
              <span class="tag">{{item.plangrade}}</span>
              <span class="tag">{{item.domanname}}</span>
              <span class="tag" [class.danger]="item.riskgrade == '高'">{{item.riskgrade}}风险</span>
            </div>
          </div>
          <div class="right">
            <div class="progress progress-{{calcState(item)}}">
              <p class="value"><span
                  class="{{item.cal_over_desc == '按时完成' ? '' : 'days'}}">{{calcResult(item).value}}</span><span
                  class="unit" *ngIf="item.cal_over_desc != '按时完成'">天</span></p>
              <p class="label">{{calcResult(item).label}}</p>
            </div>
            <div class="state state-{{calcState(item)}}">{{item.cal_over_desc}}</div>
          </div>
        </div>
      </div>
    </ion-item>
    <ion-item-options side="right" *ngIf="item.showprjlink || item.showurge">
      <button ion-button color="lightGray" (click)="doClick2(itemSliding)" *ngIf="item.showprjlink">
        &emsp;全景&emsp;<br>&emsp;计划&emsp;
      </button>
      <button ion-button color="primary" (click)="doClick(itemSliding)" *ngIf="item.showurge">
        &emsp;催&nbsp;办&emsp;
      </button>
    </ion-item-options>
  </ion-item-sliding>
</div>