page-project-detail-stat {
    .main {
        display: flex;
        height: 100%;
        width: 100%;
        .leftside {
            flex: 0 0 100px;
            width: 100px;
            height: 100%;
            overflow: auto;
            background: #f7f7f7;
            &::-webkit-scrollbar {
                display: none;
                width: 0!important;
            }
            -ms-overflow-style: none;

            .menu-item {
                position: relative;
                padding: 0 15px;
                height: 50px;
                line-height: 50px;
                font-size: 14px;
                color: #333;
                font-weight: 700;
                border-bottom: 1px solid #fff;
                &.active {
                    background: #fff;
                    color: rgb(231,90,22);
                }
                &::before {
                    content: "";
                    display: block;
                    width: 2px;
                    height: 46px;
                    position: absolute;
                    top: 2px;
                    left: 0;
                    // background: red;
                }

                &.menu-type-1 {
                    &::before {
                        background: rgb(231,90,22);
                    }
                }

                &.menu-type-2 {
                    &::before {
                        background: rgb(92, 154, 216);
                    }
                }

                .badge {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    display: inline-block;
                    height: 18px;
                    line-height: 18px;
                    background: rgb(231,90,22);
                    color: #fff;
                    font-size: 12px;
                    padding: 0 6px;
                    border-radius: 10px;
                    margin-top: -9px;
                    font-weight: normal;
                }
            }
        }
        .rightside {
            flex: 1;
            height: 100%;
            overflow: auto;
            width: calc(100% - 100px);
            .list-ios {
                // margin-bottom: 0;
            }
        }
    }

    .plan-graph-wrap {
        height: 100%;
        width: 100%;
        overflow-y: auto;
        position: relative;
        .open-btn {
            position: absolute;
            display: inline-block;
            width: 50px;
            height: 40px;
            line-height: 40px;
            top: 13px;
            right: 0;
            font-size: 16px;
            color: #999;
            text-align: center;
            background: #fff;
        }
    }

    .buildings {
        padding: 15px;
        width: calc(100% - 50px);
        padding-right: 0;
        // height: 56px;
        // overflow: auto;
        // white-space: nowrap;
        &.close {
            overflow: hidden;
            white-space: nowrap;
        }
        &::-webkit-scrollbar {
            display: none;
            width: 0!important;
        }
        -ms-overflow-style: none;
        // overflow: -moz-scrollbars-none;

        .building-item {
            display: inline-block;
            height: 36px;
            line-height: 36px;
            background: #fff;
            border: 1px solid color($colors,primary);
            border-radius: 18px;
            padding: 0 15px;
            margin-right: 10px;
            margin-bottom: 10px;
            color: color($colors,primary);
            font-size: 12px;
            font-weight: 700;
            font-family: 'PingFang SC',Arial, Helvetica, sans-serif;
            &.active {
                background: color($colors,primary);
                color: #fff;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .floors {
        margin-top: 10px;
        padding: 0 10px;
        font-size: 14px;
        color: #333;
        .bar-wrap {
            display: flex;
            // align-content: center;
            .bar {
                flex: 1;
                max-width: 50px;
            }
            .head, .foot {
                margin: 0 auto 10px;
                text-align: center;
                height: 40px;
                // line-height: 40px;
            }
            .foot {
                margin-top: 10px;
                // margin-bottom: 20px;
            }
            .floor-item {
                height: 30px;
                line-height: 30px;
                width: 40px;
                // margin-bottom: 1px;
                margin: 0 auto 1px;
            }
            .cell {
                display: inline-block;
                text-align: center;
                width: 100%;
                height: 100%;
                // background: red;
                &.block {
                    background: #f1f1f1;
                }
                &.cell-0 {
                    background: #f1f1f1;
                }
                &.cell-1 {
                    background: rgb(155, 210, 60);
                }
                &.cell-2 {
                    background: color($colors, primary);
                }
            }
        }
    }
}
