<!--
  Generated template for the ProjectDetailStatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar color="primary">
    <ion-title>枫丹铂麓3期</ion-title>
    <ion-buttons end>
      <button ion-button icon-only small (click)="changeStats();">
        <ion-icon name="ios-stats-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <div class="subhead">
    <div class="dropdown">
      一标段一批次 <ion-icon name="md-arrow-dropdown"></ion-icon>
    </div>
    <div class="node-box">
      <div class="node-wrap">
        <span class="node-item state-{{node.state}}" *ngFor="let node of nodes">
          {{node.name}}
        </span>
      </div>
    </div>

    <div class="topbar" [class.show-me]="!hideMe">
      <div class="filter-bar">
        <div
          class="filter-item"
          tappable
          (click)="selectFilter(filterItem);"
          *ngFor="let filterItem of filterItems"
        >
          <span class="name">{{filterMenuName(filterItem)}}</span>
          <span class="icon-wrap">
            <ion-icon name="md-arrow-dropdown"></ion-icon>
          </span>
        </div>
      </div>
    </div>
  </div>
</ion-header>

<ion-content> </ion-content>

<div
  class="filters-overlap"
  id="filters-overlap"
  *ngIf="showFilterPanel"
  tappable
  (click)="closeFilter();"
>
  <div class="filter-wrap" [style.opacity]="showFilterPanel ? '1.0' : '0.0'">
    <ion-list>
      <ion-item
        tappable
        *ngFor="let item of filterConfigData"
        (click)="selectFilterItem(item);"
      >
        <ion-label class="name">{{item.name}}</ion-label>
        <ion-icon
          color="primary"
          name="ios-checkmark"
          item-right
          *ngIf="item.value !== '100' && item.selected"
        >
        </ion-icon>
      </ion-item>
    </ion-list>
  </div>
</div>
