<!--
  Generated template for the ProjectDetailStatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="primary">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content style="background: #fff;">
  <div class="main">
    <div class="leftside">
      <div class="menu">
        <div class="menu-item" [class.active]="currentIndex === i" tappable (click)="selectMenu(i);"
          *ngFor="let menu of menus;let i = index;">
          <span class="name">{{menu.stage_name}}</span>
          <span class="badge"
            *ngIf="menu.warningnum && menu.warningnum != '0' && menu.warningnum != 'NULL'">{{menu.warningnum}}</span>
        </div>
      </div>
    </div>
    <div class="rightside">
      <div class="plan-list-wrap" *ngIf="planDataType === 0">
        <ion-list>
          <plan-item2 [item]="item" (onSelect)="selectPlan($event);" (onUrge)="doUrge($event);"
            *ngFor="let item of planList"></plan-item2>
        </ion-list>
      </div>
      <div class="plan-graph-wrap" *ngIf="planDataType === 1">
        <div class="buildings">
          <span class="building-item" [class.active]="currBuildIndex === i" tappable (click)="selectBuild(i);"
            *ngFor="let b of buildings; let i = index;">
            {{b.name}}
          </span>
        </div>
        <div class="floors">
          <div class="head caption">
            <span class="cell" *ngFor="let n of names">{{n}}</span>
          </div>
          <div class="cells">
            <div class="row-box" *ngFor="let item of floorsData">
              <span class="cell">{{item.floor}}</span>
              <span class="cell block cell-{{item.l1}}" tappable (click)="selectPlan(item)"></span>
              <span class="cell block cell-{{item.l2}}" tappable (click)="selectPlan(item)"></span>
              <span class="cell block cell-{{item.l3}}" tappable (click)="selectPlan(item)"></span>
              <span class="cell block cell-{{item.l4}}" tappable (click)="selectPlan(item)"></span>
              <span class="cell block cell-{{item.l5}}" tappable (click)="selectPlan(item)"></span>
            </div>
          </div>
          <div class="foot caption">
            <span class="cell" *ngFor="let n of names">{{n}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>