page-home {
    .stats {
        background: color($colors, primary);
        padding: 5px 15px 15px 15px;
        color: white;
        font-size: 14px;
        font-family: 'PingFang SC', Arial, Helvetica, sans-serif;

        ion-grid, ion-row, ion-col, p {
            margin: 0;
            padding: 0;
        }

        .content-wrap {
            &.left {
                text-align: left;
            }
            // &.right {
            //     text-align: right;
            // }

            &.right {
                padding-left: 15px;
            }

            .stat-item {
                // padding: 15px 0;
                margin-top: 12px;
                // &.pl-15 {
                //     padding-left: 15px;
                // }
                // &.pt-0 {
                //     padding-top: 0;
                // }
                // &.pb-0 {
                //     padding-bottom: 0;
                // }
                // padding-bottom: 15px;
                // &.border-b {
                //     border-bottom: 0.55px solid rgba(255,255,255,0.2);
                // }
                // &.border-r {
                //     border-right: 0.55px solid rgba(255,255,255,0.4);
                // }
                .digit {
                    font-size: 28px;
                    // font-weight: 500;
                }
                .unit {
                    font-size: 12px;
                    padding-left: 3px;
                }
                // .line {
                //     padding: 0 5px;
                // }

                .value2 {
                    .digit,.unit,.prefix {
                        font-size: 14px;
                        font-weight: normal;
                    }
                    .prefix {
                        padding-right: 3px;
                    }
                }
            }
        }
        
    }
    .exception-stats {
        background: #fff;
        ion-row, ion-col {
            margin: 0;
            padding: 0;
        }

        
        .stat-box {
            padding: 10px 15px;
            // font-family: 'PingFang SC', Arial, Helvetica, sans-serif;
            font-size: 14px;
            &.b-right {
                border-right: 0.55px solid #f6f6f6;
            }
            &.b-bottom {
                border-bottom: 0.55px solid #f6f6f6;
            }
            // &.right {
            //     text-align: right;
            // }
            .name {
                // font-size: 16px;
                color: #333;
            }
            .digit {
                // font-size: 12px;
                color: #999;
            }
            .unit {
                // font-size: 12px;
                color: #999;
                padding-left: 3px;
                // font-size: 14px;
            }
        }
    }
    .splitor {
        width: 100%;
        height: 8px;
        background: rgb(241,242,243);
    }
    .sections {
        // padding: 15px;
        ion-grid {
            margin: 0;
            padding: 0;
        }
        ion-row,ion-col {
            margin: 0;
            padding: 0;
            text-align: center;
        }
        .section {
            // text-align: center;
            padding: 30px 10px 0 10px;
            p {
                margin: 0;
                padding: 0;
            }

            // .icon-wrap {
            //     ion-icon {
            //         font-size: 30px!important;
            //         color: color($colors, primary);
            //     }
            //     margin-bottom: 10px;
            // }
            .icon {
                max-height: 28px;
                margin-bottom: 5px;
            }

            .name {
                font-size: 14px;
                color: #333;
            }
        }
    }

    .limit-width {
        font-size: 14px;
    }
}
