page-home {
    .days-btn {
        &.pending {
            small {
                color: #666!important;
            }
        }
        &.success {
            small {
                color: #7FB762!important;
            }
        }
        small {
            font-size: 10px!important;
        }
    }

    .toolbar-ios .segment-button {
        max-width: 64px;
    }

    .custom-select-month {
        // padding-top: 10px;
        margin-bottom: 1px;
    }

    .weeks {
        padding: 0 10px;
        // display: flex;
        text-align: center;
        background: #fff;
        .week-wrap {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
            width: 100%;
            .week {
                flex: 1;
                padding: 10px;
                text-align: center;
                &.active {
                    .name,.date {
                        color: rgb(231,90,22)!important;
                    }
                    position: relative;
                    &::after {
                        content: " ";
                        display: block;
                        width: 50%;
                        height: 2px;
                        background: rgb(231,90,22);
                        position: absolute;
                        bottom: 0;
                        left: 25%;
                    }
                }
                .name {
                    font-size: 12px;
                    color: #333;
                }
                .date {
                    font-size: 10px;
                    color: #999;
                }
            }
        }
    }

    .plan-item {
        &.type-1 {
            border-left-color: #999;
        }
        &.type-2 {
            border-left-color: #4990E2;
        }
        &.type-3 {
            border-left-color: rgb(231,90,22);
        }
        background: #fff;
        padding: 10px 0;
        display: flex;
        align-items: center;     /* 垂直居中 */
        margin-top: 2px;
        border-left: 2px solid #999;
        .left, .right {
            display: block;
            font-size: 10px;
            text-align: center;
            color: #333;
            box-sizing: border-box;
        }
        .left {
            flex: 0 0 90px;
            width: 90px;
            padding: 0 15px;
            font-family: 'PingFang SC';
            .date {
                font-size: 20px;
                .unit {
                    font-size: 10px;
                }
            }
        }
        .center {
            flex: 1;
            padding-left: 15px;
            border-left: 0.55px solid #ddd;
            .name {
                font-size: 14px;
                color: #333;
                font-weight:  normal;
            }
            .summary {
                // margin-top: 10px;
                font-size: 12px;
                color: #999;
            }
            .tags {
                font-size: 0;
            }
            .tag {
                display: inline-block;
                height: 20px;
                line-height: 20px;
                font-size: 10px;
                padding: 0 5px;
                color: #fff;
                margin: 5px 5px 0 0;
                border-radius: 2px;
                vertical-align: middle;
                background: #f7f7f7;
                color: #666;
                // &.tag-1 {
                //     // background: #999;
                //     border: 0.55px solid #999;
                //     color: #999;
                // }
                // &.tag-2 {
                //     // background: #4990E2;
                //     border: 0.55px solid #4990E2;
                //     color: #4990E2;
                // }
                // &.tag-3 {
                //     // background: rgb(231,90,22);
                //     border: 0.55px solid rgb(231,90,22);
                //     color: rgb(231,90,22);
                // }
            }
        }
        .right {
            flex: 0 0 90px;
            width: 90px;
            .progress {
                width: 60px;
                height: 60px;
                // line-height: 60px;
                border: 0.55px solid rgb(231,90,22);
                border-radius: 50%;
                text-align: center;
                margin: 0 auto;
                padding-top: 15px;
            }
            .state {
                text-align: center;
                margin-top: 5px;
                font-size: 12px;
            }
        }
        
    }

    .timeline-wrap {
        padding: 15px;
        .timeline {
            margin: 0;
            font-size: 14px;
            list-style: none;
            .timeline-item {
                position: relative;
                padding-bottom: 20px;
                .tail {
                    position: absolute;
                    left: 4px;
                    height: 100%;
                    border-left: 2px solid #ccc;
                }
                &:last-child {
                    .tail {
                        display: none;
                    }
                }
                .node {
                    position: absolute;
                    background-color: #ccc;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .node-normal {
                    left: -1px;
                    width: 12px;
                    height: 12px;
                }

                .content-wrapper {
                    position: relative;
                    padding-left: 28px;
                    top: -3px;
                    .timestamp {
                        color: #333;
                        line-height: 1;
                        font-size: 14px;
                        font-weight: bold;
                        &.is-top {
                            margin-bottom: 8px;
                            padding-top: 4px;
                        }
                    }
                    .item-content {
                        padding-right: 30px;
                        .feedback-item {
                            padding: 10px;
                            font-size: 12px;
                            line-height: 14px;
                            color: #999;
                            // border-bottom: 0.55px solid #ccc;
                            background: #fff;
                            margin-bottom: 5px;
                            border-radius: 4px;
                            .name {
                                color: #333;
                                margin-bottom: 3px;
                            }
                        }
                    }
                }
            }
            li {
                display: list-item;
                text-align: -webkit-match-parent;
            }
        }
    }

    .projects-list {
        // ion-row,ion-col {
        //     margin: 0;
        //     padding: 0;
        // }
        .project-wrap {
            
            .area {
                font-size: 16px;
                color: #333;
                padding-left: 10px;
            }
            margin-bottom: 15px;
        }
        padding: 15px;
        .project-item {
            padding: 10px;
            background: #fff;
            border-radius: 6px;
            .name {
                font-size: 14px;
                color: #333;
                font-weight: normal;
            }
            .stats-box {
                display: flex;
                align-content: center;
                margin-top: 10px;
                .stat {
                    flex: 1;
                    // width: 33.333333%;
                    font-size: 10px;
                    color: #999;
                    .digit {
                        font-size: 14px;
                        color: #333;
                        font-family: 'PingFang SC';
                    }
                    &.center {
                        text-align: center;
                        .digit {
                            color: rgb(155,210,60);
                        }
                    }
                    &.right {
                        text-align: right;
                        .digit {
                            color: color($colors, primary);
                        }
                    }
                }
            }
        }
    }
}
