page-home {
    .days-btn {
        &.pending {
            small {
                color: #666!important;
            }
        }
        &.success {
            small {
                color: #7FB762!important;
            }
        }
    }

    .custom-select-month {
        padding: 10px 60px 0 60px;
        overflow: hidden;

        .button-ios {
            color: #757575;
        }
        .switch-btn {
            width: 100%;
            text-align: center;
            line-height: 32px;
        }
        .switch-btn, .back, .forward {
            display: block;
            position: relative;
            float: left;
            min-height: 32px;
            margin: 0;
            padding: 0;
            font-size: 15px;
        }
        .back {
            margin-left: -100%;
            left: -40px;
            width: 40px;
        }
        .forward {
            margin-left: -40px;
            right: -40px;
            width: 40px;
        }
    }
}
