<!--
  Generated template for the HouseInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="primary">
    <ion-title>{{project.name}} — {{house.building_name}} {{industry.name}}</ion-title>
  </ion-navbar>
  <ion-toolbar color="white">
    <ion-segment [(ngModel)]="unit" mode="md" [class.scrollable]="units.length > 7" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="{{u.ID}}" *ngFor="let u of units">
        {{u.name}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <div class="help-box">
    <span class="color-item" [style.background]="color.value" *ngFor="let color of colors">
      <span class="name">{{color.name}}</span><span class="count">{{color.count || 0}}</span>
    </span>
  </div>
</ion-header>

<ion-content>

  <div class="empty-error-box" *ngIf="!!error">
    {{error}}
  </div>
  <ion-grid>
    <!-- <ion-list> -->
    <virtual-scroller #scroll [items]="roomsData" [enableUnequalChildrenSizes]="true">
      <ion-row *ngFor="let floor of scroll.viewPortItems">
        <ion-col col-2>
          <div class="floor-box">
            {{floor.floor}}
          </div>
        </ion-col>
        <ion-col col-10>
          <!-- <ion-row class="rooms">
          <ion-col *ngFor="let room of floor.rooms" class="cell">
            <div class="room-box" [style.background]="room.roomcolor" tappable (click)="selectRoom(room);">
              {{formatHouseNumber(room)}}
              <ion-icon name="ios-lock-outline" *ngIf="room.statenum == '0' && room.locked"></ion-icon>
            </div>
          </ion-col>
        </ion-row> -->
          <div class="rooms-wrap">
            <div class="room-wrap" *ngFor="let room of floor.rooms">
              <div class="room-box" [style.background]="room.roomcolor" (tap)="selectRoom(room);">
                {{formatHouseNumber(room)}}
                <ion-icon name="ios-lock-outline" *ngIf="room.statenum == '0' && room.locked"></ion-icon>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </virtual-scroller>
    <!-- </ion-list> -->
  </ion-grid>
  <!-- <table class="rooms-table">
    <tr *ngFor="let floor of roomsData">
      <td class="cell">{{floor.floor}}</td>
      <td class="cell" *ngFor="let room of floor.rooms">
        <div class="room-box" [style.background]="GetColor(room)">
          {{room.name}}
        </div>
      </td>
    </tr>
  </table> -->
</ion-content>