<!--
  Generated template for the PlanDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="primary">
    <ion-title>计划详情</ion-title>
    <ion-buttons end>
      <button ion-button (click)="gotoFeedbackList();" small>反馈记录</button>
    </ion-buttons>
  </ion-navbar>

  <!-- <ion-toolbar color="white">
    <ion-segment [(ngModel)]="dataType" mode="md" (ionChange)="segmentChanged($event)">
      <ion-segment-button [value]="i" *ngFor="let type of dataTypes;let i=index;">
        {{type}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar> -->

</ion-header>

<ion-content>
  <div class="body">
    <span *ngIf="!!msg">收到消息了</span>
    <table class="table">
      <tr *ngFor="let item of data">
        <td class="label">
          {{item.label}}
        </td>
        <td class="value" *ngIf="item.label != '计划状态'">
          {{item.value}}
        </td>
        <td class="value value2" *ngIf="item.label == '计划状态'">
          <div class="box" *ngIf="!hasFlow">{{item.value}}</div>
          <div class="box" *ngIf="hasFlow" tappable (click)="openFlow(item);">{{item.value}}<span class="right-icon">
              <ion-icon name="ios-arrow-forward-outline"></ion-icon>
            </span>
          </div>
        </td>
      </tr>
    </table>
  </div>

</ion-content>
<ion-footer *ngIf="canHandlePlan">
  <ion-row>
    <ion-col col-4>
      <div class="custom-btn outline" tappable (click)="doClick(1);">变更</div>
    </ion-col>
    <ion-col col-4>
      <div class="custom-btn blue" tappable (click)="doClick(2);">进度反馈</div>
    </ion-col>
    <ion-col col-4>
      <div class="custom-btn" tappable (click)="doClick(3);">完成确认</div>
    </ion-col>
  </ion-row>
</ion-footer>