<ion-item tappable (click)="selectItem(item);">
  <ion-row>
    <ion-col col-8>
      <span class="custname">{{item.custnames}}</span>
    </ion-col>
    <ion-col col-4 style="text-align: right;">
      <span class="house-no">{{item.house_no}}</span>
    </ion-col>
  </ion-row>
  <div class="time-state-wrap">
    <p class="time"><span class="label">认购日期</span><span class="value">{{item.orderdate | formatDate:0}}</span>
      <span class="label" *ngIf="item.condate && item.condate !== 'NULL'">签约日期</span><span class="value" *ngIf="item.condate && item.condate !== 'NULL'">{{item.condate
        | formatDate:0}}</span>
    </p>
    <div class="state-wrap">
      <span class="yq-state state-{{item.hasovermoney}}">{{item.hasovermoney ? '已逾期' : '未逾期'}}</span>
    </div>
  </div>
  <div class="paymoney-rate-wrap">
    <div class="paymoney-progress">
      <ion-row>
        <ion-col col-8>
          <p class="paymoney"><span class="label">已回款金额</span><span class="value">{{item.paymoney | formatWan}}万</span></p>
        </ion-col>
        <ion-col col-4>
          <p class="rate"><span class="label">占比</span><span class="value">{{formatRate(item)}}%</span></p>
        </ion-col>
      </ion-row>
      <div class="progress">
        <div class="progress-inner" [style.width]="item.payrate + '%'"></div>
      </div>
    </div>
    <div class="call-phone-wrap">
      <span class="call-btn" tappable (click)="callPhone($event);">
        <ion-icon name="ios-call-outline"></ion-icon>
      </span>
    </div>
    <!-- <div class="rate">{{item.payrate}}%</div> -->
  </div>
</ion-item>