page-survey {
    .options {
        margin-top: 15px;
        .opt {
            margin-top: 10px;
            font-size: 14px!important;
            .custom-input {
                border: 0.55px solid #e6e6e6;
                padding: 8px;
                font-size: 12px;
                width: 60%;
                margin-left: 20px;
                margin-top: -10px;
                // float: right;
                // margin-top: 0;
            }

            span,ion-icon {
                vertical-align: top;
            }

            .custom-textarea {
                border: 0.55px solid #e6e6e6;
                padding: 8px;
                font-size: 12px;
                width: 100%;
                margin-top: 5px;
            }
        }
    }

    .item-ios {
        h2 {
            font-size: 16px;
            font-weight: normal;
        }
    }

    
}
