<ion-item>
  <table class="table">
    <tr>
      <td class="left">
        <p class="custname" text-wrap>{{item.custnames}}</p>
      </td>
      <td class="center">
        <p class="house-info"><span class="outusertypename type-color-{{item.innerusertypeid1 || item.outusertypeid}}">{{item.innerusertypename1
            || item.outusertypename}}</span><span class="house-no" text-wrap>{{item.house_no}}</span></p>

      </td>
      <td class="right">
        <p class="money">{{formatMoney(item.money)}}<span class="unit">万</span></p>

      </td>
    </tr>
    <tr>
      <td class="left">
        <p class="hor-item"><span class="label-text">客户来源</span><span class="value-text">{{item.sourcetype === 'NULL' ?
            '--' : item.sourcetype}}</span></p>
      </td>
      <td class="center">
        <p class="hor-item"><span class="label-text">置业顾问</span><span class="value-text">{{item.sellername === 'NULL' ?
            '--' : item.sellername}}</span></p>
      </td>
      <td class="right">
        <call-phone [mobile]="item.custandphone" multiple="true"></call-phone>
      </td>
    </tr>
    <tr>
      <td class="left">
        <p class="ver-item" *ngIf="menuType === '2'">
          <span class="label-text">认购日期</span><br>
          <span class="value-text">{{item.orderdate && item.orderdate.split('T')[0]}}</span>
        </p>
        <p class="hor-item" *ngIf="menuType === '3'">
          <span class="label-text">签约日期</span>
          <span class="value-text">{{item.condate | formatDate:0}}</span>
        </p>
      </td>
      <td class="center">
        <p class="ver-item" *ngIf="menuType === '2'">
          <span class="label-text">签约失效日期</span><br>
          <span class="value-text">{{item.plancondate && item.plancondate.split('T')[0]}}</span>
        </p>
      </td>
      <td class="right">
        <p class="left-days-warning" *ngIf="menuType === '2' && (!item.isth || item.isth === 'NULL')">
          <span *ngIf="item.left_days !== 0">{{item.left_days_label}}{{item.left_days}}天</span>
          <span *ngIf="item.left_days === 0">即将过期</span>
        </p>
        <p class="left-days-warning" *ngIf="menuType === '2' && (item.isth && item.isth !== 'NULL')">
          <span>{{item.isth}}&emsp;&nbsp;</span>
        </p>
        <p class="hor-item" *ngIf="menuType === '3'"><span class="state state-{{item.constatenum === '20' ? '1' : '0'}}">
            {{item.constatenum === '20' ? '已审核' : '未审核'}}</span>&nbsp;</p>
      </td>
    </tr>
  </table>
</ion-item>