<!--
  Generated template for the CalculatorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="primary">
    <ion-title>房贷计算器</ion-title>
  </ion-navbar>
  <ion-toolbar color="white">
    <ion-segment [(ngModel)]="loanType" 
      mode="md">
      <ion-segment-button value="{{type.value}}" *ngFor="let type of loanTypes">
        {{type.label}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label>计算方式</ion-label>
      <div class="custom-controls-wrap" item-content>
        <div class="select-box">
          <span class="select-item" tappable (click)="formData.calcType = '0'">
            <ion-icon name="{{ formData.calcType === '0' ? 'ios-radio-button-on-outline' : 'ios-radio-button-off-outline' }}"></ion-icon> 按贷款总价</span>
          <span class="select-item" tappable (click)="formData.calcType = '1'">
            <ion-icon name="{{ formData.calcType === '1' ? 'ios-radio-button-on-outline' : 'ios-radio-button-off-outline' }}"></ion-icon> 按房屋总价</span>
        </div>
      </div>
      <!-- <ion-select interface="action-sheet" cancelText="取消" okText="确定" 
        (ionChange)="selectChanged('calcType')"
        [(ngModel)]="formData.calcType">
        <ion-option *ngFor="let type of calcTypes" value="{{type.value}}">{{type.label}}</ion-option>
      </ion-select> -->
    </ion-item>
    <ion-item *ngIf="formData.calcType === '1'">
      <ion-label>房屋总额</ion-label>
      <ion-input [(ngModel)]="formData.houseTotal" 
        (ngModelChange)="inputChanged('houseTotal',$event)"
        type="tel" placeholder="请输入"></ion-input>
      <ion-note item-right>万</ion-note>
    </ion-item>
    <button ion-item *ngIf="formData.calcType === '1'" (click)="selectData('loanRatios', 'loanRatio', '选择贷款比例')">
      <ion-label>贷款比例</ion-label>
      <!-- <ion-select interface="action-sheet" cancelText="取消" okText="确定" 
        (ionChange)="selectChanged('loanRatio')"
        [(ngModel)]="formData.loanRatio">
        <ion-option *ngFor="let type of loanRatios" value="{{type.value}}">{{type.label}}</ion-option>
      </ion-select> -->
      <span item-right>{{formData.loanRatioName || '请选择'}}</span>
    </button>
    <ion-item>
      <ion-label>贷款总额</ion-label>
      <ion-input [(ngModel)]="formData.loanTotal" 
        (ngModelChange)="inputChanged('loanTotal',$event)"
        type="tel" pattern="[0-9]*" placeholder="请输入"></ion-input>
      <ion-note item-right>万</ion-note>
    </ion-item>

    <button ion-item *ngIf="loanType === '0' || loanType === '2'" (click)="selectData('sdRates','sdRate', '选择商贷利率')">
      <ion-label>商贷利率</ion-label>
      <!-- <ion-select interface="popover" cancelText="取消" okText="确定" 
        [(ngModel)]="formData.sdRate">
        <ion-option *ngFor="let type of sdRates" value="{{type.value}}">{{type.label}}</ion-option>
      </ion-select> -->
      <span item-right>{{formData.sdRateName || '请选择'}}</span>
    </button>
    <ion-item *ngIf="loanType === '2'">
      <ion-label>商业贷款</ion-label>
      <ion-input [(ngModel)]="formData.sdTotal" 
      (ngModelChange)="inputChanged('sdTotal',$event)"
        type="tel" placeholder="请输入"></ion-input>
      <ion-note item-right>万</ion-note>
    </ion-item>
    <button ion-item *ngIf="loanType === '1' || loanType === '2'" (click)="selectData('gjjRates', 'gjjRate', '选择公积金利率')">
      <ion-label>公积金利率</ion-label>
      <!-- <ion-select interface="action-sheet" cancelText="取消" okText="确定" 
        [(ngModel)]="formData.gjjRate">
        <ion-option *ngFor="let type of gjjRates" value="{{type.value}}">{{type.label}}</ion-option>
      </ion-select> -->
      <span item-right>{{formData.gjjRateName || '请选择'}}</span>
    </button>
    <ion-item *ngIf="loanType === '2'">
      <ion-label>公积金贷款</ion-label>
      <ion-input [(ngModel)]="formData.gjjTotal" 
        (ngModelChange)="inputChanged('gjjTotal',$event)"
        type="tel" placeholder="请输入"></ion-input>
      <ion-note item-right>万</ion-note>
    </ion-item>

    <button ion-item (click)="selectData('loanYears', 'loanYear', '选择贷款期限')">
      <ion-label>贷款期限</ion-label>
      <!-- <ion-select interface="action-sheet" cancelText="取消" okText="确定" 
        [(ngModel)]="formData.loanYear">
        <ion-option *ngFor="let type of loanYears" value="{{type.value}}">{{type.label}}</ion-option>
      </ion-select> -->
      <span item-right>{{formData.loanYearName || '请选择'}}</span>
    </button>
    <ion-card-header>
      <ion-row>
        <ion-col col-6>
          <button ion-button block outline (click)="reset()">重置</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block (click)="calculate()">开始计算</button>
        </ion-col>
      </ion-row>
      <p class="warn-text" text-wrap>贷款利率仅供计算使用，实际交易利率折扣由银行评估</p>
    </ion-card-header>
  </ion-card>
</ion-content>
