page-house-detail {
    .content {
        background: white!important;
    }
    .card-header-ios {
        font-size: 16px !important;
        padding: 15px 15px 15px 10px!important;
        font-weight: normal!important;
    }
    .table {
        width: 100%;
        // padding: 10px;
        // margin-top: 15px;
        font-size: 14px;
        font-family: 'PingFang SC', Arial, Helvetica, sans-serif;

        .label {
            width: 120px;
            padding: 2px 0 2px 10px;
            text-align: left;
            color: #666;
            vertical-align: top;
        }
        .value {
            // padding-left: 10px;
            color: #333;
            
            img {
                max-width: 80%;
            }
        }
    }
}
