<!--
  Generated template for the StatNoProjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="primary">
    <ion-title>
      <ion-segment [(ngModel)]="dataType" color="white" (ionChange)="segmentChanged($event)">
        <ion-segment-button [value]="i" *ngFor="let type of dataTypes;let i=index;">
          {{type}}
        </ion-segment-button>
      </ion-segment>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openFilter();">
        <ion-icon name="ios-funnel-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <div class="filter-items-wrap">
    <filter-items [(items)]="filterItems" (itemsChange)="itemsChange();"></filter-items>
  </div>
  <div class="panel graph">
    <h2 class="title">按状态统计</h2>
    <div class="state-graph" id="state-graph"></div>
  </div>
  <div class="panel graph">
    <h2 class="title">按风险统计</h2>
    <div class="fx-graph" id="fx-graph"></div>
  </div>
  <div class="panel other-stas">
    <!-- <h2 class="title">按风险统计</h2> -->
    <div class="options">
      <span class="option" [class.active]="currentOpt === opt.value" *ngFor="let opt of options" tappable
        (click)="selectOption(opt)">{{opt.label}}</span>
    </div>
    <div class="plans">
      <div class="plan" *ngFor="let plan of plans">
        <div class="info-wrap">
          <div class="name">{{plan.name}}</div>
          <div class="summary">
            <span class="done">{{plan.done}}</span>
            <span class="line">/</span>
            <span class="total">{{plan.total}}</span>
          </div>
        </div>
        <div class="progress">
          <div class="progress-inner" [style.width]="plan.progress + '%'"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel plan-list">
    <h2 class="title">高风险项</h2>
    <div class="list"></div>
  </div>
</ion-content>