<!--
  Generated template for the AdvancedSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="primary">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content style="background: #fff">
  <ion-toolbar color="white">
    <ion-searchbar [(ngModel)]="keyword" cancelButtonText="取消" placeholder="输入计划名称、责任人、经办人" [showCancelButton]="true"
      [animated]="false" name="search">
    </ion-searchbar>
  </ion-toolbar>
  <div class="panel" *ngFor="let opt of options2">
    <h2 class="title">
      {{opt.name}}
    </h2>
    <div class="options">
      <span class="item" tappable (click)="selectOpt(opt,item);"
        [class.active]="(opt.multiselect && (opt.selected||[]).indexOf(item) !== -1) || (!opt.multiselect && item == opt.selected)"
        *ngFor="let item of opt.options">{{item.name}}</span>
    </div>
  </div>

  <div class="select-project">
    <button ion-item (click)="selectMajor();">
      所属专业
      <ion-note item-right>{{currentMajor.name || '选择专业'}}</ion-note>
    </button>
  </div>

  <div class="select-project">
    <button ion-item (click)="selectProject();">
      所属项目
      <ion-note item-right>{{currentProject.name || '选择项目'}}</ion-note>
    </button>
  </div>
  <div class="select-project">
    <button ion-item (click)="selectDept();">
      所属部门
      <ion-note item-right>{{currentDept.name || '选择部门'}}</ion-note>
    </button>
  </div>

  <div class="panel" *ngFor="let opt of options">
    <h2 class="title">
      {{opt.name}}
    </h2>
    <div class="options">
      <span class="item" tappable (click)="selectOpt(opt,item);"
        [class.active]="(opt.multiselect && (opt.selected||[]).indexOf(item) !== -1) || (!opt.multiselect && item == opt.selected)"
        *ngFor="let item of opt.options">{{item.name}}
      </span>
      <span class="item custom-dates" *ngIf="opt.id == 'date' && opt.selected && opt.selected.value == 6">
        <div class="custom-dates-range">
          <ion-datetime [(ngModel)]="opt.selected.start" displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD"
            cancelText="取消" doneText="确定" placeholder="开始日期" [max]="opt.selected.end" class="custom-date-control">
          </ion-datetime>
          <span class="date-line">-</span>
          <ion-datetime [(ngModel)]="opt.selected.end" displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD"
            cancelText="取消" doneText="确定" placeholder="截止日期" [min]="opt.selected.start" class="custom-date-control">
          </ion-datetime>
        </div>
      </span>
    </div>
    <div class="select-project" *ngIf="opt.id == 'plan_type' && opt.selected && opt.selected.value == 1020">
      <button ion-item (click)="selectPlanItem();">
        计划事项
        <ion-note item-right>{{currentPlanItem.name || '选择计划事项'}}</ion-note>
      </button>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col col-6>
      <div class="custom-btn outline" tappable (click)="reset();">
        重置
      </div>
    </ion-col>
    <ion-col col-6>
      <div class="custom-btn" tappable (click)="confirm();">
        确定
      </div>
    </ion-col>
  </ion-row>
</ion-footer>